doctype html
html
    head
        meta(charset="utf-8")
        block head-content
    body
        block body-content


        script(src="../lib/vendor/jquery.js")
        script(src="../lib/vendor/sea.js")
        script.
            // alert('seajs works, but no absolute path please');
            seajs.use('../lib/app.js');
