@import './config.less';

nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: @sidebarW;
  background-color: @sidebarBGC;

  ul.nav-list{
    list-style: none;
    li>a{
      color: #eee;
      text-decoration: none;
    }
  }
}
